body.login {
    background: url("../../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

.content-wrapper {
    background: #ffffffc2 !important;
}

fieldset {
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    padding: 1.25rem;
}

::placeholder {
    color: #ffeeee !important;
    font-style: italic;
}

#layoutSidenav_content {
    background: #f9fafa !important;
}

#userDropdown span {
    text-align: right;
    text-overflow: ellipsis;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.btn.rounded-circle {
    padding: 0.45rem 0.55rem !important;
}