.breadcrumb {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0.75rem 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    list-style: none !important;
    background-color: #eaecf4 !important;
    /*background: rgb(128, 128, 128);
    background: linear-gradient(
        0deg,
        #dcdcdc 0%,
        #e4e4e4 50%,
        #ececec 100%
    );*/
    border-radius: 0.25rem !important;
    border: 1px solid #dfdfdf;
    color: #ffff;
}

.breadcrumb-item {
    display: flex !important;
}

.breadcrumb-item a {
    color: #172642;
}

.breadcrumb-item a:hover {
    /* color: #2200b9 !important; */
    color: var(--link-color-hover);
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block !important;
    padding-right: 0.5rem !important;
    color: #6c757d !important;
    content: "/" !important;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline !important;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none !important;
}

.breadcrumb-item.active {
    color: #6c757d !important;
}
