.body-bg {
    background: url("../../img/bg.jpg");
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1000;
    opacity: 0.3;
}

.content-wrapper {
    background: #ffffffc2 !important;
}

fieldset {
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    padding: 1.25rem;
}

fieldset legend {
    font-size: 1rem;
    margin-bottom: 0px;
}

::placeholder {
    color: #ffeeee !important;
    font-style: italic;
}

#layoutSidenav_content {
    background: #f9fafa !important;
}

.btn.rounded-circle {
    padding: 0.45rem 0.55rem !important;
}