.datepicker-dropdown {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.dropdown,
a.nav-link.dropdown-toggle{
    height:100%;
    margin-top: auto;
    margin-bottom: auto;
}
.dropdown-toggle::after{
    content:unset;
}

.table {
    background: white;
}
.navbar .btn-link,
.navbar .nav-link{
    color: #fff !important;
}
.sb-topnav .navbar-brand{
    width:auto;
}

.sb-sidenav-dark .sb-sidenav-menu-heading,
.sb-sidenav-dark .sb-nav-link-icon,
.sb-sidenav-dark .sb-sidenav-collapse-arrow,
.sb-sidenav-dark .nav-link {
    color: white !important;
}

.sb-sidenav-light i,
.sb-sidenav-light svg {
    color: black;
}

.sb-sidenav-dark .nav-link.active,
.sb-sidenav-dark .nav-link.active .sb-nav-link-icon,
.sb-sidenav-dark .nav-link.active .sb-sidenav-collapse-arrow,
.sb-sidenav-dark .nav-link:hover,
.sb-sidenav-dark .nav-link:hover .sb-nav-link-icon,
.sb-sidenav-dark .nav-link:hover .sb-sidenav-collapse-arrow {
    color: rgb(8, 164, 255) !important;
}