.datepicker-dropdown {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.dropdown, a.nav-link.dropdown-toggle{
    height:100%;
    margin-top: auto;
    margin-bottom: auto;
}
.dropdown-toggle::after{
    content:unset;
}


.navbar-dark .btn-link,
.navbar-dark .nav-link{
    color: #fff !important;
}

.fc-license-message{
    display: none !important;
}
.btn-primary{
    background: orange !important;
}